* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}


header {
  height: 100px;
  background-color: rgb(29, 29, 29);
  display: flex;
  padding: 20px;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: rgb(247, 238, 245) 0 0 2px;
  margin-left: 42px;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.2rem;
}

.navbar-brand a:hover {
  color: rgb(30, 156, 62);
  text-shadow: rgb(30, 156, 62) 0 0 2px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 42px;
  text-transform: uppercase;
}

.navbar ul li {
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

.navbar ul li a {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 2.5px;
  text-decoration: none;
  font-family: "Acme", sans-serif;
}

.navbar ul li a:hover {
  color: rgb(30, 156, 62);
  text-shadow: rgb(30, 156, 62) 0 0 2px;
}

.toggle_menu {
  display: none;
}

.toggle_menu .bar1,
.toggle_menu .bar2,
.toggle_menu .bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  transition: 0.4s;
}

.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  background-image: url("/assets/img/wooden-table-looking-out-to-a-defocussed-room-interior.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::after {
  content: "";
  background-color: rgba(44, 44, 44, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero_text {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.hero_text_2 {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.hero_text h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: rgb(247, 238, 245) 0 0 2px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Acme", sans-serif;
}

.hero_text p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: rgb(247, 238, 245) 0 0 2px;
  width: 80%;
  line-height: 1.5;
  font-family: "Fira Code", monospace;
  font-weight: 100;
}

.hero_text_2 h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: rgb(247, 238, 245) 0 0 2px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Acme", sans-serif;
}

.hero_text_2 p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: rgb(247, 238, 245) 0 0 2px;
  width: 50%;
  line-height: 1.5;
  font-family: "Fira Code", monospace;
  font-weight: 100;
}

.hero_image {
  flex: 1;
}

.hero_image img {
  width: 50%;
  height: 98%;
  -webkit-object-fit: contain;
  -moz-objet-fit: contain;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 1%;
  left: 45%;
  transform: rotate(-0.5deg);
  /* slide from right */
  animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero_image_2 img {
  width: 50%;
  height: 98%;
  -webkit-object-fit: contain;
  -moz-objet-fit: contain;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: -2%;
  left: 45%;
  transform: rotate(-0.5deg);
  /* slide from right */
  animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero_image img:nth-child(2) {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 25%;
  left: 18%;
  transform: rotate(0deg);
  opacity: 1.5;
}

.hero_image_2 img:nth-child(2) {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 25%;
  left: 18%;
  transform: rotate(0deg);
  opacity: 1.5;
}

main {
  background-color: rgb(37, 37, 37);
}

.intro {
  color: rgb(253, 253, 253);
  text-align: center;
  margin: 0 0 1em 0;
  padding: 80px;
}

.intro h2 {
  font-size: 3.5em;
  margin: 5px px 0px 0px;
  font-weight: 600;
  font-family: "Acme", sans-serif;
}

.intro p {
  font-size: 1.2em;
  font-weight: 400;
  width: 100%;
  justify-content: center;
  font-family: "Fira Code", monospace;
  padding: 20px;
}

.container {
  min-width: 90%;
  margin: 0 auto;
  color: white;
}

.container_2 {
  max-width: 90%;
  margin: 80px auto;
  color: white;
  padding: 50px;
}

.container_2 h3 {
  font-size: 2.5em;
  font-weight: 600;
  font-family: "Acme", sans-serif;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

#cards .carta {
  position: relative;
  width: 400px;
  height: 400px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.carta img {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  padding: 10px;
}

.carta h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 20px;
  font-family: "Acme", sans-serif;
}

.cocktail-btn {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.wrapper {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("https://images.unsplash.com/photo-1491333078588-55b6733c7de6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper_2 {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper .box {
  position: relative;
  width: 400px;
  height: 400px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.wrapper_2 form button {
  width: 90%;
  margin-bottom: 20px;
}

.wrapper_2 form button {
	background-color: #115e24;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	cursor: pointer;
	margin-right: 20px;
}

.wrapper_2 form select {
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
} 

.wrapper_2 form input {
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
}

.wrapper h2 {
  color: #f5f5f5;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Acme", sans-serif;
}
.wrapper p {
  color: #ccc;
  margin: 20px 10px;
  padding: 10px;
  font-family: "Fira Code", monospace;
}

.soccer {
  max-height: 60vh;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 50px;
}

.soccer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.04;
}

.soccer_text {
  flex: 1;
  padding: 60px;
  color: #fff;
}

.soccer_text h2 {
  font-size: 3.5em;
  margin: 5px px 0px 0px;
  line-height: 1.5;
  font-weight: 600;
  font-family: "Acme", sans-serif;
}

.soccer_text p {
  font-size: 1.5em;
  margin: 5px px 0px 0px;
  font-weight: 200;
  font-family: "Fira Code", monospace;
}

.soccer-supporter {
  flex: 1;
}

.soccer-supporter img {
  padding: 30px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

#meal-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.scheda .card {
  max-width: 400px;
 margin-bottom: 30px;
 color: #26272b;
}

.hero_3 {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero_3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.08;
}
















@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.site-footer iframe {
  width: 100%;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  text-decoration: none;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  text-decoration: none;
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.github:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (max-width: 767px) {
  header {
    padding: 0px;
  }
  .navbar ul {
    display: none;
  }
  .navbar ul.active {
    margin: 0;
    background-color: rgba(22, 22, 22, 1);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 90px;
    left: 0px;
    display: block;
    z-index: 1;
    animation-delay: 0.5s;
    animation: slideIn 1s;
  }

  .navbar ul li {
    display: block;
    text-align: center;
  }
  .toggle_menu {
    display: block;
    margin-right: 50px;
    margin-top: 35px;
  }

  .toggle_menu:hover .bar1,
  .toggle_menu:hover .bar2,
  .toggle_menu:hover .bar3 {
    background-color: rgb(12, 145, 72);
  }

  .navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 50px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Acme", sans-serif;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hero {
    max-height: 70vh;
    flex-direction: column;
    z-index: -1;
  }

  .hero_text {
    margin-top: 10px;
    padding: 20px;
    width: 80%;
    height: 100%;
  }

  .hero .hero_text h1 {
    font-size: 1.2em;
  }

  .hero .hero_text p {
    font-size: 0.9em;
  }

  .hero_image img {
    left: 48%;
  }

  .hero_image img:nth-child(2) {
    left: 18%;
  }

  .hero_text_2 {
    padding: 20px;
    width: 70%;
    height: 100%;
  }

  .hero .hero_text_2 h1 {
    font-size: 1.5em;
  }

  .hero .hero_text_2 p {
    font-size: 0.7em;
    width: 70%;
  }

  .hero_image_2 img {
    left: 48%;
  }

  .hero_image_2 img:nth-child(2) {
    left: 18%;
  }

  .intro {
    padding: 30px;
  }

  .intro h2 {
    font-size: 1.8em;
  }

  .intro p {
    font-size: 0.9em;
    padding: 5px;
  }

  .wrapper_2 video {
    width: 90%;
  }

  .container_2 {
    margin: 7px auto;
  }

  .cocktail-btn h3 {
    font-size: 1.5em;
  }

  .wrapper_2 form input {
    width: 100%;
  }

  .wrapper_2 form button {
    width: 100%;
    margin-bottom: 20px;
  }

  #cards .carta {
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 10px;
  }

  #cards .carta img {
    width: 50%;
    height: 50%;
  }

  .soccer {
    max-height: 100vh;
    flex-direction: column;
  }

  .soccer_text{
    padding: 2px;
  }

  .soccer_text h2 {
    font-size: 1.7em;
    margin: 0;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Acme", sans-serif;
  }

  .soccer_text p {
    font-size: 0.9em;
    margin-bottom:10px;
    font-weight: 200;
    font-family: "Fira Code", monospace;
  }

  .soccer-supporter img {
    width: 100%;
    padding: 0;
  }
}

